<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/forumpage.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body class="main-home-page create-forum">

<!--header-->
<!--header-->
<%- include('../utils/header') %>

<div class="create-body">
<button onclick="window.location.href='/forum'" class="create-button">Back</button>

<form action="/newPost" method="post">
    <div class="form_container">
        <h1 style="font-family: 'Yaelah';">Create a New Forum Post</h1>
        <% if (errors && errors.length > 0) { %>
            <div class="alert alert-danger">
                <ul>
                    <% errors.forEach(function(error) { %>
                        <li><%= error %></li>
                    <% }); %>
                </ul>
            </div>
        <% } %>
        <label for="forum_title" class="form-label">Title:</label>
        <br>
        <input type="text" id="forum_title" name="forum_title" value="<%= formData ? formData.forum_title : '' %>">
        <br>
        
        <label for="forum_subtitle" class="form-label">Subtitle:</label>
        <br>
        <input type="text" id="forum_subtitle" name="forum_subtitle" value="<%= formData ? formData.forum_subtitle : '' %>">
        <br>
        
        <label for="forum_body" class="form-label">Body:</label>
        <br>
        <textarea rows="10" cols="60" id="forum_body" name="forum_body"><%= formData ? formData.forum_body : '' %></textarea>
        <br>
        
        <label for="forum_category" class="form-label">Category:</label>
        <br>
        <select id="forum_category" name="forum_category">
            <option value="General Discussion" <%= formData && formData.forum_category === 'General Discussion' ? 'selected' : '' %>>General Discussion</option>
            <option value="Gaming and Hobbies" <%= formData && formData.forum_category === 'Feedback' ? 'selected' : '' %>>Feedback</option>    
            <option value="Announcements" <%= formData && formData.forum_category === 'Announcements' ? 'selected' : '' %>>Announcements</option>
            <option value="Depression and Sadness" <%= formData && formData.forum_category === 'Depression and Sadness' ? 'selected' : '' %>>Depression and Sadness</option>
            <option value="Education" <%= formData && formData.forum_category === 'Education' ? 'selected' : '' %>>Education</option>
            <option value="Mindfulness and Relaxation" <%= formData && formData.forum_category === 'Mindfulness and Relaxation' ? 'selected' : '' %>>Mindfulness and Relaxation</option>
            <option value="Professional Help" <%= formData && formData.forum_category === 'Professional Help' ? 'selected' : '' %>>Professional Help</option>
            <option value="Family Issues" <%= formData && formData.forum_category === 'Family Issues' ? 'selected' : '' %>>Family Issues</option>
            <option value="Healthy Habits" <%= formData && formData.forum_category === 'Healthy Habits' ? 'selected' : '' %>>Healthy Habits</option>
            <option value="School and Homework Stress" <%= formData && formData.forum_category === 'School and Homework Stress' ? 'selected' : '' %>>School and Homework Stress</option>
            <option value="Friendship and Relationships" <%= formData && formData.forum_category === 'Friendship and Relationships' ? 'selected' : '' %>>Friendship and Relationships</option>
            <option value="Bullying and Peer Pressure" <%= formData && formData.forum_category === 'Bullying and Peer Pressure' ? 'selected' : '' %>>Bullying and Peer Pressure</option>
            <option value="Creative Expression" <%= formData && formData.forum_category === 'Creative Expression' ? 'selected' : '' %>>Creative Expression</option>
            <option value="Ask a Professional" <%= formData && formData.forum_category === 'Ask a Professional' ? 'selected' : '' %>>Ask a Professional</option>
            <option value="Success Stories and Positivity" <%= formData && formData.forum_category === 'Success Stories and Positivity' ? 'selected' : '' %>>Success Stories and Positivity</option>
            <option value="Coping Strategies" <%= formData && formData.forum_category === 'Coping Strategies' ? 'selected' : '' %>>Coping Strategies</option>
            <option value="Mental Health Resources" <%= formData && formData.forum_category === 'Mental Health Resources' ? 'selected' : '' %>>Mental Health Resources</option>
            <option value="Others" <%= formData && formData.forum_category === 'Others' ? 'selected' : '' %>>Others</option>
        </select>
        <br>
            
    <button type="submit" class="submit_button_create">Post</button>
    </div>
    <br>

</form>
</div>
<!--Footer-->
<%- include('../utils/footer') %>

</body>
</html>