<!DOCTYPE html>
<html>
<head>
    <title>Forum Post</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body>
    <!--header-->
    <%- include('../utils/header') %>
    <div class="container mt-5">
        <button onclick="window.location.href='/forum'" class="back_button">Back</button>
        <h1><%= forum.forum_title %></h1>
        <h2><%= forum.forum_subtitle %></h2>
        <small>Published on: <%= forum.forum_publishedtimestamp %></small><br>
        <small>by <%= forum.user_name %></small>
        <hr>
        <p><%= forum.forum_body %></p>
        <div class="d-flex justify-content-between align-items-center mt-2">
            <div class="forum_like">
                <button id="like-button"><i class="fas fa-heart"></i> <span id="likes-count"><%= forum.forum_likes %></span></button>
            </div>
        </div>
    </div>

    <!--footer-->
    <%- include('../utils/footer') %>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('like-button').addEventListener('click', async () => {
                const forumId = '<%= forum.forum_id %>';
                try {
                    const response = await fetch(`/forum/${forumId}/like`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                    const result = await response.json();
                    if (result.success) {
                        const likesCountElement = document.getElementById('likes-count');
                        let likesCount = parseInt(likesCountElement.textContent.trim());

                        if (result.action === 'liked') {
                            likesCount += 1;
                        } else {
                            likesCount -= 1;
                        }

                        likesCountElement.textContent = likesCount;
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            });
        });
    </script>
</body>
</html>
