<!DOCTYPE html>
<html>
<head>
    <title>KinderBrain</title>
    <!-- Link to styles in main.css in the public folder  -->
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/gamespage.css">
    <!-- Link to the Bootstrap CSS for styling the page -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous">
   
    <!-- Bootstrap JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    
</head>

<body class="games-page">
    <!-- Include the header -->
    <%- include('../utils/header') %>
    
    <div class="headerSection">
        <h1>THE GAMES <br> FUN FOR YOUR MIND</h1>
         <button class="btn btn-primary" onclick="location.href='/dashboard'">Login to view your dashboard</button>
    </div>

    <div class="gamescontainer">
    <!-- The links below are taken from online sources to redirect to the top games played on public websites. -->
        <h2 class="custom-header">Top Games Of The Month</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="cardTop">
                    <a href="http://www.depressionquest.com/" target="_blank">
                        <img src="images/topgame1.png" class="card-img-top" alt="Game 1">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="cardTop">
                    <a href="https://hiddenfolks.com/" target="_blank">
                        <img src="images/topgame2.png" class="card-img-top" alt="Game 2">
                    </a>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="cardTop">
                    <a href=" https://kidshelpline.com.au/sites/default/files/thinkingbraingame/index.html" target="_blank">
                        <img src="images/topgame3.png" class="card-img-top" alt="Game 3">
                    </a>
                    
                </div>
            </div>
            
           
        </div>
   
  

        <div class="container mt-4">
            <h1 class="custom-header">Recommended Games Based on Your Assessment</h1>
            <div class="row">
                <% if (games && games.length > 0) { %>
                    <% games.forEach(function(game) { %>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title"><%= game.title %></h5>
                                    <p class="card-text" style="font-family: 'Yaelah';"><%= game.description %></p>
                                    <a href="/games/play/<%= game.id %>" class="btn btn-primary" style="font-family: 'Yaelah', cursive;">Play Now</a>
                                  
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p class="text-center w-100">No games are currently recommended.Complete our assesmment to find out what suits you best.</p>
                <% } %>
            </div>
        </div>
       
        <!-- Top 3 players' profile images to appear on podium  -->
        <div class="podium-container">
            <h2 class="custom-header">Top Players Of The Month</h2>
            <div class="podium">
                <div class="podium-item second-place">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <img src="/images/login.png" alt="Player 1">
                    </div>
                    <div class="podium-number">2</div>
                </div>
                <div class="podium-item first-place">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <img src="/images/login.png" alt="Player 1">
                    </div>
                    <div class="podium-number">1</div>
                </div>
                <div class="podium-item third-place">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <img src="/images/login.png" alt="Player 1">
                    </div>
                    <div class="podium-number">3</div>
                </div>
            </div>
        </div>
        
        <div class="gamesBrief">
            <h3 style="font-family: 'Komigo3D', cursive;">TRY OUR GAMES TO TEST YOUR TINY BRAINS</h3>
            <p class="gamesDescription">
                For your mental health, indulge in a world of games. Play these games to relax as well as learn something new. Our carefully curated selection of games not only provides entertainment but also helps in cognitive development, improves problem-solving skills, and enhances memory. Whether you are looking for a fun break or a challenging puzzle, our games offer a perfect balance to stimulate your mind and keep you engaged. Explore different categories and find the ones that suit your interests and skill level. Remember, a healthy mind is just a game away!
            </p>
            <img src="/images/cute-header-image.png" alt="Mental Health" class="img-fluid">
        </div>

        <div class="text-center my-4" style="font-family: 'Komigo3D', cursive;">
            <select id="categoryDropdown" class="form-control" onchange="filterGamesByCategory()">
                <option value="all">All Categories</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="difficult">Difficult</option>
            </select>
        </div>

        <div id="gamesSections">
            <h2 class="game-header">Mind Games</h2>
            <!-- These classes initialise the carousel and enable the sliding animation -->
            <div id="mindGamesCarousel" class="carousel slide" data-ride="carousel">
                <!-- This class wraps the carousel items -->
                <div class="carousel-inner" style="font-family: 'Yaelah';">
                    <!-- Carousel items -->
                </div>

                <!-- These classes are used to create the navigation controls, allowing us to move between carousel items -->
                <a class="carousel-control-prev" href="#mindGamesCarousel" role="button" data-slide="prev">
                    <i class="fas fa-chevron-left carousel-control-prev-icon" aria-hidden="true"></i>
                </a>
                <a class="carousel-control-next" href="#mindGamesCarousel" role="button" data-slide="next">
                    <i class="fas fa-chevron-right carousel-control-next-icon" aria-hidden="true"></i>
                </a>
            </div>

            <h2 class="game-header">Relaxation Games</h2>
            <div id="relaxationGamesCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" style="font-family: 'Yaelah';">
                    <!-- Carousel items -->
                </div>
                <a class="carousel-control-prev" href="#relaxationGamesCarousel" role="button" data-slide="prev">
                    <i class="fas fa-chevron-left carousel-control-prev-icon" aria-hidden="true"></i>
                </a>
                <a class="carousel-control-next" href="#relaxationGamesCarousel" role="button" data-slide="next">
                    <i class="fas fa-chevron-right carousel-control-next-icon" aria-hidden="true"></i>
                </a>
            </div>

            <h2 class="game-header">Educational Games</h2>
            <div id="educationalGamesCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" style="font-family: 'Yaelah';">
                    <!-- Carousel items -->
                </div>
                <a class="carousel-control-prev" href="#educationalGamesCarousel" role="button" data-slide="prev">
                    <i class="fas fa-chevron-left carousel-control-prev-icon" aria-hidden="true"></i>
                </a>
                <a class="carousel-control-next" href="#educationalGamesCarousel" role="button" data-slide="next">
                    <i class="fas fa-chevron-right carousel-control-next-icon" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Include the footer -->
    <%- include('../utils/footer') %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            loadGames('all');

            document.getElementById('categoryDropdown').addEventListener('change', function() {
                const selectedCategory = this.value;
                loadGames(selectedCategory);
            });
        });

        function loadGames(category) {
            fetch(`/games/category/${category}`)
                .then(response => response.json())
                .then(data => {
                    const sections = ['mind', 'relaxation', 'educational'];
                    sections.forEach(section => {
                        const gamesContainer = document.querySelector(`#${section}GamesCarousel .carousel-inner`);
                        gamesContainer.innerHTML = '';
                        let row = null;
                        let filteredGames = data.filter(game => game.section === section && game.id <= 18);

                        let gamesToShow = [...filteredGames, ...filteredGames];

                        gamesToShow.forEach((game, index) => {
                            if (index % 4 === 0) {
                                row = document.createElement('div');
                                row.className = 'row';
                                let carouselItem = document.createElement('div');
                                carouselItem.className = 'carousel-item';
                                if (index === 0) {
                                    carouselItem.classList.add('active');
                                }
                                carouselItem.appendChild(row);
                                gamesContainer.appendChild(carouselItem);
                            }
                            let col = document.createElement('div');
                            col.className = 'col-md-3';
                            const userId = '<%= userName %>';
                            const elapsedMinutes = parseFloat(localStorage.getItem(`elapsedMinutes_${game.id}_${userId}`)) || 0;
                            const roundedElapsedMinutes = elapsedMinutes.toFixed(2);
                            const progressPercentage = (elapsedMinutes / 15) * 100;
                            col.innerHTML = `
                            <div class="card" onclick="window.location.href='/games/play/${game.id}'">
                                <div class="card-body">
                                    <h5 class="card-title">${game.title}</h5>
                                    <p class="card-text">${game.description}</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: ${progressPercentage}%;"
                                            aria-valuenow="${progressPercentage}" aria-valuemin="0" aria-valuemax="100">
                                            ${roundedElapsedMinutes} minutes played
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;
                            row.appendChild(col);
                        });
                    });
                })
                .catch(error => console.error('Error fetching games:', error));
        }
        
    </script>
    
    
    
</body>
</html>
